<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC9cBKEpEHN4c8f1UbsbbcIVuQg3fU5-5c</string>
	<key>GCM_SENDER_ID</key>
	<string>330478606781</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.lobiApplication</string>
	<key>PROJECT_ID</key>
	<string>lobi-mobileapp</string>
	<key>STORAGE_BUCKET</key>
	<string>lobi-mobileapp.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:330478606781:ios:091230c0dd8dcbadb81ad4</string>
</dict>
</plist>